.App {
  text-align: center;
  background-color: peachpuff;
  min-height: 600px;
  font-family: 'Gayathri', sans-serif;
  font-size: larger;
}

.navlinks {
  padding: 0px 40px;
  color: white;
  text-decoration: none;
}

.line {
  color: white;
  padding: 0px;
}

.h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  color: white;
}

.home {
  height: 800px;
}

.philippa {
  height: 140px;
  width: 184px;
  border-radius: 140px;
  margin-top: 20px;
}

@media only screen and (max-width: 786px) {
  .nav {
    text-align: center;
    max-width: 300px;
  }
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: medium;
    min-height: 400px;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
